@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using pure CSS to bypass Tailwind parser error */
.brand-gradient {
  background: linear-gradient(to right, #fb923c, #ec4899, #9333ea);
}

.text-gradient {
  background: linear-gradient(to right, #fb923c, #ec4899, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}